html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.destination-body {
    background-image: url("/src/assets/images/destination/background-destination-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section{
    color: white;

}

.destination-nav ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    padding-inline-start: 0px;
}


.nav-section-list {
    border: none;
    background: none;
    
    font-size: 16px;
    cursor: pointer;
}

.nav-section-list.selected {
    text-underline-offset: 18px;
    text-decoration: underline 2px;
    cursor: pointer;
}

.main-container{
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px 150px;
    
   
}
.grid-right{
    /* border: 2px solid white; */
grid-column: 2 / span 2;
grid-row: 1 / span 2;

}
.grid-left{
    /* border: 2px solid white; */
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-content: center;
    text-align: center;
}
.destination-name{
    margin: 40px 0;
    font-size: 100px;
}
.text-section p{
    text-align: start;
    margin: 20px 0;
}
.distance-time{
    margin: 20px 0;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.destination-divider hr{

    background-color: rgba(255, 255, 255, 0.121);

    backdrop-filter: blur(100px); 
}