html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/src/assets/images/destination/background-destination-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-section{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.destination-nav{
    
    grid-column: 2;
    
}
.section-grid{
   margin-left: 250px;
    border: solid 2px red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image-box{
    
    border: solid 2px rgb(40, 156, 92);
    grid-column: 1span/1;
}
.text-box{
    margin-right: -500px;
    border: solid 2px red;
    grid-column: 2span2;
}
.destination-nav ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}


.nav-list {
    border: none;
    background: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.nav-list.selected {
    text-underline-offset: 18px;
    text-decoration: underline 2px;
    cursor: pointer;
}

.container-main{
    display: flex;
    flex-direction: row;
}
