:root {
    font-size: 16px; 

    /* colors */
    --text-color-light-blue: #D0D6F9;
    --dark-blue: #0B0D17;

    /* typography */

    /* Text Preset 1 */
    --text-preset-1: 400 9rem/171.9% 'Bellefair', serif; /* 144px / 16px = 9rem */
    --text-preset-1-letter-spacing: 0rem; /* 0px / 16px = 0rem */
    
    /* Text Preset 2 */
    --text-preset-2: 400 6.25rem/114.6% 'Bellefair', serif; /* 100px / 16px = 6.25rem */
    --text-preset-2-letter-spacing: 0rem; /* 0px / 16px = 0rem */
        /* Text Preset 2.2 mobile */
        --text-preset-2-2: 400 5rem/114.6% 'Bellefair', serif; 
        --text-preset-2-2-letter-spacing: 0rem;

    /* Text Preset 3 */
    --text-preset-3: 400 3.5rem/64.2% 'Bellefair', serif; /* 56px / 16px = 3.5rem */
    --text-preset-3-letter-spacing: 0rem; /* 0px / 16px = 0rem */
    
    /* Text Preset 4 */
    --text-preset-4: 400 2rem/36.7% 'Bellefair', serif; /* 32px / 16px = 2rem */
    --text-preset-4-letter-spacing: 0rem; /* 0px / 16px = 0rem */
    /* Text Preset 4-2 */
    --text-preset-4-2: 400 2.5rem/36.7% 'Bellefair', serif; /* 32px / 16px = 2rem */
    --text-preset-4-2-letter-spacing: 0rem; /* 0px / 16px = 0rem */
    
    /* Text Preset 5 */
    --text-preset-5: 400 1.75rem/33.6% 'Barlow Condensed', sans-serif; /* 28px / 16px = 1.75rem */
    --text-preset-5-letter-spacing: 0.25rem; /* 4px / 16px = 0.25rem */
    
    /* Text Preset 6 */
    --text-preset-6: 400 1.75rem/32.1% 'Bellefair', serif; /* 28px / 16px = 1.75rem */
    --text-preset-6-letter-spacing: 0rem; /* 0px / 16px = 0rem */

          /* Text Preset 6-3 mobile */
          --text-preset-6-3: 400 1.5rem 'Bellefair', serif; 
          --text-preset-6-3-letter-spacing: 0rem; 
        /* Text Preset 6-2 mobile */
        --text-preset-6-2: 400 1.25rem/32.1% 'Bellefair', serif; 
        --text-preset-6-2-letter-spacing: 0rem; 
    
    /* Text Preset 7 */
    --text-preset-7: 400 0.875rem/16.8% 'Barlow Condensed', sans-serif; /* 14px / 16px = 0.875rem */
    --text-preset-7-letter-spacing: 0.125rem; /* 2px / 16px = 0.125rem */

    --text-preset-7-2: 400 0.9375rem/180% 'Barlow Condensed', sans-serif; /* 14px / 16px = 0.875rem */
    --text-preset-7-2-letter-spacing: 0.125rem; /* 2px / 16px = 0.125rem */
    
    /* Text Preset 8 */
    --text-preset-8: 400 1rem/19.2% 'Barlow Condensed', sans-serif; /* 16px / 16px = 1rem */
    --text-preset-8-letter-spacing: 0.125rem; /* 2px / 16px = 0.125rem */
 /* Text Preset 8.2 mobile */
 --text-preset-8-2: 400 1rem/1.2 'Barlow Condensed', sans-serif;
    --text-preset-8-2-letter-spacing: 0.125rem; /* 2px / 16px = 0.125rem */
    
    /* Text Preset 9 */
    --text-preset-9: 400 1.125rem/180% 'Barlow', sans-serif; /* 18px / 16px = 1.125rem */
    --text-preset-9-letter-spacing: 0rem; /* 0px / 16px = 0rem */
        /* Text Preset 9.2 mobile */ 
        --text-preset-9-2: 400 1rem/180% 'Barlow', sans-serif; /* 16px / 16px = 1rem */
        --text-preset-9-2-letter-spacing: 0rem; /* 0px / 16px = 0rem */

        --text-preset-9-3: 400 0.9375rem/180% 'Barlow', sans-serif; /* 16px / 16px = 1rem */
        --text-preset-9-3-letter-spacing: 0rem; /* 0px / 16px = 0rem */

    /* Spacing */

    /* Small Spacing */
    --spacing-small: 0.125rem; /* 2px / 16px */
    --spacing-small-medium: 0.25rem; /* 4px / 16px */

    /* Medium Spacing */
    --spacing-medium: 0.5rem; /* 8px / 16px */
    --spacing-medium-large: 0.75rem; /* 12px / 16px */

    /* Large Spacing */
    --spacing-large: 1rem; /* 16px / 16px */
    --spacing-large-extra: 1.5rem; /* 24px / 16px */

    /* Extra Large Spacing */
    --spacing-extra-large: 2rem; /* 32px / 16px */
    --spacing-extra-large-plus: 2.5rem; /* 40px / 16px */

    /* Huge Spacing */
    --spacing-huge: 3rem; /* 48px / 16px */
    --spacing-huge-plus: 4rem; /* 64px / 16px */

     /* Huge Spacing */
     --spacing-huge-2: 3.5rem; /* 56px / 16px */

    /* Extra Huge Spacing */
    --spacing-extra-huge: 5rem; /* 80px / 16px */
    --spacing-extra-huge-plus: 8rem; /* 128px / 16px */
    
    /* Super extra huge spacing */
    --spacing-super-extra-huge: 9.9375rem; /* 159px / 16px */
}
