
  
    .desktopnav {
        position: relative;
        padding-top: var(--spacing-extra-large-plus);
        padding-left: var(--spacing-huge-plus);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;


    }
    .mobile-nav{
        
        
        display: none;
    }           
    .transparent-box {
        z-index: 0;
     
        backdrop-filter: blur(100px); 
      
        padding: 0  var(--spacing-huge-plus) 0 var( --spacing-super-extra-huge) ;
        

    }
    .transparent-box li{
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;
        font: var(--text-preset-8);
        letter-spacing: var(--text-preset-8-letter-spacing);

    }

    .desktopnav svg{
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(255, 255, 255);
        border-radius: 100%;

    }
    .nav-list{
        color: white;
        display: flex;
        gap: var(--spacing-huge);
        padding: 0;
    }
    ul{
        list-style: none;
    }
    .nav-list span{
        font: var(--text-preset-8);
        font-weight: bold;
    }

    .divider{
        width: 100%; /* Ensure the container takes full width */
        display: flex;
        justify-content: center;
        z-index: 10;
        margin-right: -120px;
    }
    .divider hr{
        width: 80%; /* Adjust this to control the length of the hr */
        height: 2px; /* Keep it thin horizontally */
        background-color: rgba(255, 255, 255, 0.121);
        border: none;
        margin: 0;
        backdrop-filter: blur(100px); 
    }

    .nav-item a {
        color: white;
        display: flex;
        gap: var(--spacing-medium-large);
        padding: var( --spacing-extra-large-plus) 0;
        text-decoration: none;
    }

    
    .nav-item a.active {
        
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 10px; 
    }
    .nav-item a.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -16px; /* Adjust based on the underline position */
        width: 100%;
        height: 2px; /* Thickness of the underline */
        background-color: currentColor; /* Use current text color for underline */
    }
    .closetag{
        display: none;
    }

    .mobile-nav-list{
        display: none;
    }
    @media only screen  and (max-width: 1125px){
        .transparent-box{
            padding: 0  var(--spacing-extra-large-plus) 0 var(  --spacing-extra-huge-plus) ;
        }
        .desktopnav{
            padding-left: var(--spacing-extra-large-plus);
        }
        
    }
    @media only screen and (max-width: 952px) {

    .transparent-box {

        padding: 0  var(--spacing-extra-large-plus) 0 var(  --spacing-extra-huge-plus) ;
        

    }
    .divider{
        display: none;
    }
        
    }


    @media only screen and (max-width:884px) {
        .desktopnav{
  
            display: none;
        }
        .mobile-nav{
            padding: 10px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
        }
        .hamburger{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .hamburger.close{
            display: none;
        }
        .closetag{
            display: none;
            justify-content: center;
            align-items: center;
          
        }
        .closetag.open{
            display: flex;
            z-index: 21;
            position: absolute;
            top: 0; /* Align it with the top */
            right: 0; 
            padding: 10px 20px 0 20px;
            
        }
        .mobile-nav-list.open{
            
            padding-top: var(--spacing-extra-huge-plus);
            margin: 0 auto;
            position: absolute;
            backdrop-filter: blur(100px);   
            height: 100vh;
            z-index: 0;
            right: 0;
            top: 0;
            width: 250px;
            display: flex;
            flex-direction: column;
          
        }
        .mobile-nav-item a {
            
            letter-spacing: var(--text-preset-8-2-letter-spacing);  
            text-align: left;
            color: white;
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            padding: 0;
            text-decoration: none;
        }
        .mobile-nav-item {
            padding-bottom: var(--spacing-extra-large);
            
            position: relative;
            display: flex;
            box-sizing: border-box;
            width: 100%;
        }
        .mobile-nav-list li{
           font: var(--text-preset-8-2);  
           letter-spacing: var(--text-preset-8-2-letter-spacing);
        }
        .mobile-nav-item span{
            font: var(--text-preset-8-2);  
            letter-spacing: 0.168rem;
            font-weight: 700;
        }
        .mobile-nav-item .active {
            
            display: flex;
            width: 100%;
        }
        
        .mobile-nav-item .active::after {
            
          
            content: '';
            position: absolute;
            top: 0;
            right: 0; /* Positions the line at the right edge of the container */
            width: 4px; /* Thickness of the vertical line */
            height: 100%; /* Full height of the container */
            background-color: currentColor; /* Use current text color for the line */
         
        }
        

    }
