
    .desktopnav {
        padding: 20px 0 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: transparent;
        z-index: 1;
        overflow-x: hidden;


    }           
    .transparent-box {
        z-index: 0;
     
        backdrop-filter: blur(100px); 
        padding: 0 120px;
        

    }
    .transparent-box li{
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

    }

    .desktopnav svg{
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(255, 255, 255);
        border-radius: 100%;

    }
    .nav-list{
        color: white;
        display: flex;
        gap: 30px;
        padding: 20px;
    }
    ul{
        list-style: none;
    }
    .nav-list span{
        
        font-weight: 900;
    }

    .divider{
        width: 100%; /* Ensure the container takes full width */
        display: flex;
        justify-content: center;
        z-index: 10;
        margin-right: -120px;
    }
    .divider hr{
        width: 80%; /* Adjust this to control the length of the hr */
        height: 2px; /* Keep it thin horizontally */
        background-color: rgba(255, 255, 255, 0.121);
        border: none;
        margin: 0;
        backdrop-filter: blur(100px); 
    }

    .nav-item a {
        color: #000;
        text-decoration: none;
    }
    
    .nav-item .active {
        color: #ff0000; /* Highlight active page */
        font-weight: bold; /* Optional: make the font bold */
    }