
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
   
}
body.crew-body{
    background-image: url("/src/assets/images/crew/background-crew-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;    
}

.slogan{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    color: white;
    font: var(--text-preset-5);
    letter-spacing: var(--text-preset-5-letter-spacing);
    /* margin: var(--spacing-huge) var( --spacing-super-extra-huge) var( --spacing-large-extra)  var( --spacing-super-extra-huge); */
    
}
.slogan span{
    padding-right: var(--spacing-large-extra);
    color: grey;
   font-weight: 700;
}
.crew-member-title{
    color: grey;
    font: var(--text-preset-4);
    letter-spacing: var(--text-preset-4-letter-spacing);
    /* padding: var( --spacing-large) 0 ; */


}
.crew-member-name{
    font: var(--text-preset-3);
    letter-spacing: var(--text-preset-3-letter-spacing);
    color: white;
    margin: 0 0 24px 0;
}
.crew-member-bio{
    color: var( --text-color-light-blue);
    font: var(--text-preset-9);
    letter-spacing: var(--text-preset-9-letter-spacing);
    padding: 0;
    margin: 0;
}
.crew-members-content{
    /* border: 2px solid white; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: var(--spacing-huge) var( --spacing-super-extra-huge);
   
}
.box-right{
    /* border: 2px solid white; */
    grid-column: 2 /span 2;
    grid-row: 1 / span 1 ;
    
       
}

.box-right img{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.568));
   height: 676px;
  
}
.box-left{
    /* border: 2px solid white; */
    grid-column: 1 /span 2;
    grid-row: 1 / span 1 ;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--spacing-super-extra-huge) 0;
}
.crew-members-pagination{
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 40px;
    /* margin-bottom: 3rem; */
 
}
.dot{
    width: 2vh; /* Relative to viewport width */
    height: 2vh; /* Relative to viewport height */
background-color: gray;
border-radius: 50%;
cursor: pointer;
transition: all 0.4s ease;

}
.dot.selected{
    background-color: white;
    width: 5vh;
    border-radius: 35px;
}
.crew-member-bio{
    width: 80%;
}
.crew-content{
/* height: 35%; */
margin:  0;
}
@media only screen and (max-width:1288px){
    .crew-members-content{
        margin: var( --spacing-huge) var(--spacing-extra-huge);
    }
}
@media only screen and (max-width:1225px){
    body.crew-body{
        background-image: url("/src/assets/images/crew/background-crew-tablet.jpg");
    }

    .crew-members-content{
        display: grid;
        margin: var(--spacing-extra-huge) 0 0 0 ;
        grid-template-columns: 1fr;

    }
    .slogan{
        margin-left:var(--spacing-extra-huge);
    }
    .box-left{
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: 1 /span 1;
        grid-row: 1 /span 1;
        order: 1;
        text-align: center;
        width: 50%;
        margin: 0 auto;

    }
    .box-right{
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        order: 2;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 3rem auto 0 auto;
    }
    .crew-member-bio{
        width: 100%;
    }
    .crew-content{
        /* height: 100%; */
    }
    .crew-members-pagination{
        justify-content: center;
        margin-bottom: 0;
        margin-top: 3rem;
    }
    .box-right{
        width: 50%;
        margin: 3rem auto 0 auto;
    }
}
@media only screen and (max-width:975px){


    .slogan{
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Barlow Condensed', 'sans-serifs';
        text-align: center;
    }
    .box-left{
        height: 50vh;
    }
    .crew-member-name{
        font: var(--text-preset-7-2);
        letter-spacing: var( --text-preset-7-2-letter-spacing);
    }
    .crew-member-title{
        font-size: 1.125em;
        font-weight: 400;
        font-family: 'Barlow', 'sans-serifs';

    }
    .crew-members-pagination{
        gap: 20px;
    }
    .crew-content{
        height: auto;
        margin:  0;
    }
    .box-right{
        width: 50%;
        margin: 0  auto 0p auto ;
    }
    .box-right img{
        height: 700px;
        margin-top: -200px;
    }
}
@media only screen and (max-width:630px){
    body.crew-body{
        background-image: url("/src/assets/images/crew/background-crew-mobile.jpg");
    }
    .box-left{
        height: 20vh;
    }

    .box-right{
        width: 100%;
        height: 30vh;
 
    }
    .box-right img{
        margin: 0;
       
    }

}
    @media only screen and (max-width:535px){
        .box-right{
            width: 100%;
            height: 50vh;
     
        }

        .box-right img{
         width: 100%;
        height:100%;
        margin-top: 0
        }
}
@media only screen and (max-width: 375px){
.crew-member-bio{
    
    width: 100%;
}
.box-right{
    height: 100%;
}
}