
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
   
}
body.crew-body{
    background-image: url("/src/assets/images/crew/background-crew-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    
    
}

.slogan{
    margin: 0% 20%;
}
.slogan span{
    padding-right: 10px;
}
.crew-members-content{
    /* border: 2px solid white; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0% 20%;
   
}
.box-right{
    /* border: 2px solid white; */
    grid-column: 2 /span 2;
    grid-row: 1 / span 1 ;
    width: 50%;
       
}

.box-right img{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.568));
   height: 600px;
  
}
.box-left{
    /* border: 2px solid white; */
    grid-column: 1 /span 2;
    grid-row: 1 / span 1 ;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.crew-members-pagination{
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 40px;
    margin-bottom: 3rem;
 
}
.dot{
    width: 2vh; /* Relative to viewport width */
    height: 2vh; /* Relative to viewport height */
background-color: gray;
border-radius: 50%;
cursor: pointer;
transition: all 0.4s ease;

}
.dot.selected{
    background-color: white;
    width: 5vh;
    border-radius: 35px;
}
.crew-member-bio{
    width: 80%;
}
.crew-content{
height: 35%;
margin: auto 0;
}

@media only screen and (max-width:1225px){

    .crew-members-content{
        display: grid;
        border: 1px solid white;
        grid-template-columns: 1fr;

    }
    .box-left{
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: 1 /span 1;
        grid-row: 1 /span 1;
        order: 1;
        text-align: center;
        width: 50%;
        margin: 0 auto;

    }
    .box-right{
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        order: 2;
    }
}
@media only screen and (max-width:928px){

    .crew-members-content{
        margin: 0 14%;
    }
}
@media only screen and (max-width:630px){

    .crew-members-content{
        margin: 0 10%;
    }
}
@media only screen and (max-width:407px){

    
}